<div class="section-title-page area-bg area-bg_dark area-bg_op_60">
  <div class="area-bg__inner">
    <div class="container">
      <div class="row">
        <div class="col offset-lg-3">
          <div class="b-title-page__wrap">
            <h1 class="b-title-page">Vehicle Listing</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Inventory</li>
              </ol>
              <!-- end breadcrumb-->
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="l-main-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <main class="b-post-full-wrap">
            <article class="b-post b-post-full clearfix">
              <div class="entry-media"><a class="js-zoom-images"
                  href="assets/media/content/b-posts/830x450/1.jpg"><img class="img-fluid"
                    src="assets/media/content/b-posts/830x450/1.jpg" alt="Foto" /></a></div>
              <div class="entry-main">
                <div class="entry-meta">
                  <div class="entry-date bg-primary"><span class="entry-date__number">25</span><span
                      class="entry-date__month">dec</span></div><span class="entry-meta__item"><a
                      class="entry-meta__link" href="blog-main.html"><i class="ic icon-user"></i>by
                      Admin</a></span><span class="entry-meta__item"><a class="entry-meta__link"
                      href="blog-main.html"><i class="ic icon-speech"></i>53</a></span><span
                    class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i
                        class="ic icon-action-redo"></i>Share</a></span>
                </div>
                <div class="entry-header">
                  <h1 class="entry-title">Top 10 Most Fuel-Efficient Cars On The Road</h1>
                </div>
                <div class="entry-content">
                  <p>Magna aliqua enim aduas veniam quis nostrud exercitation ullam laboris aliquip. Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip duis aute irure dolor in reprehenderit.</p>
                  <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                  <blockquote class="entry-blockquote">
                    <p>Norem ipsum dolor sit amet consectetur adipisicing elit aliqua enim minim veniam, quis
                      nostrud exercita. Duis aute irure dolor reprehenderit sed ipsum babbled much partook this much
                      in in thus the sauc.</p>
                    <cite class="entry-blockquote__cite text-primary" title="Blockquote Title">By Tina Olivia</cite>
                  </blockquote>
                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit sed quia non numquam eius
                    modi tempora incidunt ut labore et dolore magnam.</p>
                  <h2 class="ui-subtitle">choose the right car</h2>
                  <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id
                    est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                  <p>Et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem
                    sequi nesciunt. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur
                    adipisci velit sed quia non.</p>
                </div>
              </div>
              <div class="entry-footer">
                <ul class="list-tags list-unstyled">
                  <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Car Dealer</a></li>
                  <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Fuel Efficient</a>
                  </li>
                  <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">New cars</a></li>
                </ul>
              </div>
            </article>
            <!-- end .post-->
            <section class="section-comment">
              <h2 class="ui-title-inner">Comments<span class="text-primary"> (3)</span></h2>
              <ul class="comments-list list-unstyled">
                <li>
                  <article class="comment clearfix">
                    <div class="comment-face"><img class="img-fluid" src="assets/media/content/b-posts/face/1.jpg"
                        alt="face" /></div>
                    <div class="comment-inner">
                      <header class="comment-header">
                        <cite class="comment-author">Alex Leepman</cite>
                        <time class="comment-datetime" datetime="2019-10-27">January 30, 2019 at 3:48pm</time><a
                          class="comment-btn" href="blog-post.html">reply</a>
                      </header>
                      <div class="comment-body">
                        <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat
                          cupidatat non proident culpa qui officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                  </article>
                  <ul class="children list-unstyled">
                    <li>
                      <article class="comment clearfix">
                        <div class="comment-face"><img class="img-fluid"
                            src="assets/media/content/b-posts/face/2.jpg" alt="face" /></div>
                        <div class="comment-inner">
                          <header class="comment-header">
                            <cite class="comment-author">Marya Hasman</cite>
                            <time class="comment-datetime" datetime="2019-10-27">January 30, 2019 at 3:48pm</time><a
                              class="comment-btn" href="blog-post.html">reply</a>
                          </header>
                          <div class="comment-body">
                            <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat
                              cupidatat non proident culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>
                      </article>
                    </li>
                  </ul>
                </li>
                <li>
                  <article class="comment clearfix">
                    <div class="comment-face"><img class="img-fluid" src="assets/media/content/b-posts/face/1.jpg"
                        alt="face" /></div>
                    <div class="comment-inner">
                      <header class="comment-header">
                        <cite class="comment-author">William Henry</cite>
                        <time class="comment-datetime" datetime="2019-10-27">January 30, 2019 at 3:48pm</time><a
                          class="comment-btn" href="blog-post.html">reply</a>
                      </header>
                      <div class="comment-body">
                        <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat
                          cupidatat non proident culpa qui officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                  </article>
                </li>
              </ul>
            </section>
            <!-- end .section-comment-->
            <section class="section-reply-form" id="section-reply-form">
              <h2 class="ui-title-inner">Leave a<span class="text-primary"> Comment</span></h2>
              <form class="form-reply ui-form" action="#" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label">Your Name</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label">Email</label>
                      <input class="form-control" type="email" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-label">Comments</label>
                      <textarea class="form-control" rows="4"></textarea>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </section>
            <!-- end .section-reply-form-->
          </main>
        </div>
        <div class="col-lg-3">
          <aside class="l-sidebar l-sidebar_last">
            <div class="widget widget-search section-sidebar bg-light">
              <div class="widget-title bg-dark">search</div>
              <div class="widget-inner">
                <form class="form-sidebar" id="search-global-form">
                  <input class="form-sidebar__input form-control" type="search" placeholder="keyword" />
                  <button class="form-sidebar__btn"><i class="ic icon-magnifier"></i></button>
                </form>
              </div>
            </div>
            <!-- end .widget-->
            <section class="widget section-sidebar bg-light">
              <h3 class="widget-title bg-dark">categories</h3>
              <div class="widget-content">
                <div class="widget-inner">
                  <ul class="widget-list list list-mark-4">
                    <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">BMW</a></li>
                    <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">Aston
                        Martin</a></li>
                    <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">New Car
                        Models</a></li>
                    <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">Buy Used
                        Cars</a></li>
                    <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">Photo
                        Gallery</a></li>
                    <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">Mercedes</a>
                    </li>
                    <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">Economical
                        cars</a></li>
                    <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">Auto
                        Financing</a></li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- end .widget-->
            <section class="widget section-sidebar bg-light">
              <h3 class="widget-title bg-dark">recent posts</h3>
              <div class="widget-content">
                <div class="widget-inner">
                  <section class="post-widget clearfix">
                    <div class="post-widget__media"><a href="blog-post.html"><img class="img-fluid"
                          src="assets/media/content/b-posts/80x80/1.jpg" alt="foto" /></a></div>
                    <div class="post-widget__inner">
                      <h2 class="post-widget__title"><a href="blog-post.html">Telsa Model RX3 Specs</a></h2>
                      <div class="post-widget__date">
                        <time datetime="2019-10-27 15:20">Dec 15, 2018</time>
                      </div>
                    </div>
                    <!-- end .widget-post-->
                  </section>
                  <section class="post-widget clearfix">
                    <div class="post-widget__media"><a href="blog-post.html"><img class="img-fluid"
                          src="assets/media/content/b-posts/80x80/2.jpg" alt="foto" /></a></div>
                    <div class="post-widget__inner">
                      <h2 class="post-widget__title"><a href="blog-post.html">Renault Sport Vision Debut’. </a></h2>
                      <div class="post-widget__date">
                        <time datetime="2019-10-27 15:20">Jan 20, 2019</time>
                      </div>
                    </div>
                    <!-- end .widget-post-->
                  </section>
                  <section class="post-widget clearfix">
                    <div class="post-widget__media"><a href="blog-post.html"><img class="img-fluid"
                          src="assets/media/content/b-posts/80x80/3.jpg" alt="foto" /></a></div>
                    <div class="post-widget__inner">
                      <h2 class="post-widget__title"><a href="blog-post.html">Jaguar Offer Eco-Petrol Technology</a>
                      </h2>
                      <div class="post-widget__date">
                        <time datetime="2019-10-27 15:20">Feb 30, 2019</time>
                      </div>
                    </div>
                    <!-- end .widget-post-->
                  </section>
                  <section class="post-widget clearfix">
                    <div class="post-widget__media"><a href="blog-post.html"><img class="img-fluid"
                          src="assets/media/content/b-posts/80x80/4.jpg" alt="foto" /></a></div>
                    <div class="post-widget__inner">
                      <h2 class="post-widget__title"><a href="blog-post.html">Lexus: King Of the Road</a></h2>
                      <div class="post-widget__date">
                        <time datetime="2019-10-27 15:20">Mar 5, 2019</time>
                      </div>
                    </div>
                    <!-- end .widget-post-->
                  </section>
                </div>
              </div>
            </section>
            <!-- end .widget-->
            <section class="widget b-brands section-sidebar">
              <h3 class="widget-title bg-dark">Popular brands</h3>
              <div class="widget-content">
                <div class="b-brands__main d-flex flex-wrap"><a class="b-brands__item" href="home.html"><img
                      class="b-brands__img img-fluid" src="assets/media/content/b-brands/1.png" alt="foto" /></a><a
                    class="b-brands__item" href="home.html"><img class="b-brands__img img-fluid"
                      src="assets/media/content/b-brands/2.png" alt="foto" /></a><a class="b-brands__item"
                    href="home.html"><img class="b-brands__img img-fluid" src="assets/media/content/b-brands/3.png"
                      alt="foto" /></a><a class="b-brands__item" href="home.html"><img
                      class="b-brands__img img-fluid" src="assets/media/content/b-brands/4.png" alt="foto" /></a><a
                    class="b-brands__item" href="home.html"><img class="b-brands__img img-fluid"
                      src="assets/media/content/b-brands/5.png" alt="foto" /></a><a class="b-brands__item"
                    href="home.html"><img class="b-brands__img img-fluid" src="assets/media/content/b-brands/6.png"
                      alt="foto" /></a></div>
              </div>
            </section>
            <!-- end .b-brands-->
            <section class="widget section-sidebar bg-light">
              <h3 class="widget-title bg-dark">tags cloud</h3>
              <div class="widget-content">
                <div class="widget-inner">
                  <ul class="list-tags list-unstyled">
                    <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Car Dealer</a></li>
                    <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Ferrari</a></li>
                    <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Sell Car</a></li>
                    <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Latest Cars</a>
                    </li>
                    <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">SUV’s</a></li>
                    <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Automobile</a></li>
                    <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Latest Vehicles</a>
                    </li>
                    <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Truck</a></li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- end .widget-->
          </aside>
        </div>
      </div>
    </div>
  </div>
